<html>
<body>
Search Books:
<form action='/' method='GET'>
    <input type='text' name='title' size=50 value="{{ query }}">
    <select name="type">
        <option value="*">All</option>
        <option value="books">Books</option>
        <option value="videos">Videos</option>
    </select>
    <select name="rent_days">
        <option value="*">Any</option>
        <option value="5">5 Days</option>
        <option value="10">10 Days</option>
    </select>
    <input type='submit'>
</form>
<br/>
{% for item in results %}
    <hr/>
    <strong>{{ item.title }}</strong>
    <br/>
    {% for key, value in item.items() %}
        {% if key != "title" %}
            {{ key }}: {{ value }}
        {% endif %}
    {% endfor %}
{% endfor %}
</body>
</html>